// SCSS переменные
$col-bg-dark: var(--col-bg-dark);
$col-bg-main: var(--col-bg-main);
$col-bg-focus: var(--col-bg-focus);
$col-bg-dis: var(--col-bg-dis);
$col-text: var(--col-text);
$col-basic: var(--col-basic);
$col-red: var(--col-red);
$col-orange: var(--col-orange);
$col-yellow: var(--col-yellow);
$col-green: var(--col-green);
$col-turq: var(--col-turq);
$col-purple: var(--col-purple);
:root {
  --col-bg-dark: #111;
  --col-bg-main: #1d1d1d;
  --col-bg-focus: #414142;
  --col-bg-dis: #757575;
  --col-text: #fff;
  --col-basic: #2272ff;
  --col-red: #ff2121;
  --col-orange: #ff700b;
  --col-yellow: #ffc30b;
  --col-green: #2dd509;
  --col-turq: #07a08b;
  --col-purple: #9946d5;
}
